body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    box-sizing: border-box;
    color: white;

   /*  background: rgb(2,0,36); 
    background-color: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(43,80,138,1) 25%, rgba(88,52,154,1) 41%, rgba(52,111,154,1) 63%, rgba(52,76,154,1) 91%, rgba(52,76,154,1) 91%); */

    /* background: rgb(42,27,54);
    background: radial-gradient(circle, rgba(42,27,54,1) 100%, rgba(88,21,113,0.695098107602416) 100%);  */

}

.header-main{
    position: fixed;
    /* display: block; */
    color: aliceblue;
    width: 100vw;
    height: 100px;
   top: 0;

     z-index: 100; 

    background: rgb(79, 61, 96);

   /*  border-bottom: 1px solid white; */
}

.header-from{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 40px; */
    /* margin-top: 10px; */
    
}

.nav-header{
    position: relative;
    display: flex;
    align-items: center;
    color: aliceblue;
    list-style-type: none;
   
    gap: 30px;
    justify-content: center;
    
}








.container-page-main{
    display: grid;
    width: auto;
    grid-template-columns: 260px minmax(20vw, max-content);
    grid-template-rows: auto;
    color: aliceblue;

    margin-top: 100px;
    background: rgb(42,27,54);
    background: radial-gradient(circle, rgba(42,27,54,1) 100%, rgba(88,21,113,0.695098107602416) 100%);
    
}


.aside-left{
    position:fixed;
     width: 250px; 
    color: aliceblue;
    overflow: auto;
    height: 90vh;
    padding-top: 50px; 
    grid-column: 1/2;
    margin-bottom: 50px;
   
}



.container-main{
    
    grid-column: 2/3;
    margin-top: 60px;
    
    /* padding-left: 10px; */
    padding-right: 20px;  
}


@media screen and (max-width:700px) {
    .aside-left{
        display: none;
    }

    .container-page-main{
        display: grid;
     /* width: 100vw; */
        grid-template-columns: 90vw;
        grid-template-rows: auto; 
        justify-content: center;
    }
    .container-main{
        width: 90vw;
        grid-column: 1/2;
        padding-left: 0;
    padding-right: 0;
    }
}

/*content main*/



.title-course{
    text-align: center;
    margin-top: 50px;
   /*  color: #239aff; */
    font-size: 3rem;
}

.title-h2{
    font-size: 1.7rem;
}

.container-footer-main{
    display: flex;
    justify-content: space-around;
    

}

/* .item-footer-main{
border: 1px solid black;
} */



/*barra right*/

.aside-right{
    margin-top: 60px;
    border: 1px  solid white;
    height: 100vh;
    
}



footer{
    font-size: 16px;
}


.code-only{
   
   
min-width: 270px;
    max-width: 1000px;
}

.image-initial{
    
    min-width: 270px;
    max-width: 700px; 
    overflow-x: auto; 
}

.pre-code{
    border: 1px solid transparent; 
}

.pre-code:hover{
    border: 1px solid rgb(111, 18, 147) 
}

.parrafo{
    letter-spacing: 0.8px;
    word-spacing: 1px;
    line-height: 25px;
    margin-top: 40px;
    margin-bottom: 10px;
}