:root{
    --color-letter:#261346;
    --color-header:rgb(98, 70, 235);
    --backgroun-main: radial-gradient(circle, rgba(83,92,115,1) 0%, rgba(60,53,53,1) 100%);
    --article-main: rgb(82, 74, 74);

    --article-main-2:grey;
    --title-h1: rgb(255, 255, 255);
    --span-resaltar: #f92672;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    box-sizing: border-box;
    color: var(--color-letter);
}

.header-main{
    position: fixed;
    width: 100vw;
    height: 100px;
   top: 0;
     z-index: 100; 
    background: var(--color-header);
    border-bottom: 1px solid gray;
}

/*-*/

.header-from{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
    
}

.nav-header{
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    justify-content: center;
}




.container-page-main{
    display: grid;
    width: auto;
    grid-template-columns: 260px minmax(20%, 95%);
    grid-template-rows: auto;
    margin-top: 100px;
    background: var(--backgroun-main);
    margin-left: auto;
    margin-right: auto;
}


.aside-left{
    position:fixed;
    width: 250px; 
    overflow: auto;
    height: 90vh;
    padding-top: 50px; 
    grid-column: 1/2;
    background-color: var(--article-main);
}


.container-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
}

.ul-level-1{
    padding-left: 17px;
    list-style-type: none;
}

.ul-aside-left{
    list-style-type: none;
    text-decoration: none;
    padding-left: 17px;
}

.ul-aside-left > li{
   margin: 20px;

}

.ul-aside-left > li:hover{
    background-color: rgb(58, 54, 52);
}

.li-left > a{
    /* color: aliceblue; */
    list-style-type: none;
    text-decoration: none;
}


.summary-left{
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}

.summary-class{
    list-style-type: none;
    text-decoration: none;
}


.container-main{
    grid-column: 2/3;
    margin-top: 60px;
    width: 60vw; 
    margin-left: auto;
    margin-right: auto;  
}

.container-article-main{
    
   /*  border: 1px solid gray; */
 
    /* margin-top: 10px; */
    margin-left: auto;
    margin-right: auto;
}

.article-main{
    background: var(--article-main-2);
    padding: 40px;
    margin: 10px;
}




@media screen and (max-width:700px) {
    .aside-left{
        display: none;
    }

    .container-page-main{
        display: grid;
     /* width: 100vw; */
        grid-template-columns: 95vw;
        grid-template-rows: auto; 
        justify-content: center;
    }

   


    .container-main{
        width: 95vw;
        grid-column: 1/2;
        padding-left: 0;
    padding-right: 0;
    }

    
}

/*content main*/



.title-course{
    text-align: center;
    margin-top: 50px;
    color: var(--title-h1); 
    font-size: 4rem;
    font-weight: bold;
}

.title-h2{
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 10px;
    border-bottom: 3px solid gray;
    transition: 0.5s;
    
}

.title-h2:hover{
    color: var(--span-resaltar);
}


/* .item-footer-main{
    border: 1px solid black;
} */

/*barra right*/

.aside-right{
    margin-top: 60px;
    border: 1px  solid white;
    height: 100vh;
    
}



footer{
    font-size: 16px;
}


.code-only{
   
    
    min-width: 270px;
    max-width: 1000px;
}

.image-initial{
    margin-top: 20px;
    min-width: 270px;
    max-width: 700px; 
    overflow-x: auto; 
}

.pre-code{
    border: 1px solid transparent; 
}

.pre-code:hover{
    border: 1px solid rgb(111, 18, 147) 
}

.parrafo{
    letter-spacing: 0.8px;
    word-spacing: 1px;
    line-height: 2rem;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.resaltar{
    color: var(--span-resaltar);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.8px;
    word-spacing: 1px;
    line-height: 30px;
}

.ul-parrafos{
    font-size: 1.5rem;
    letter-spacing: 0.8px;
    word-spacing: 1px;
    line-height: 30px; 
    margin: 20px 0;
}

.li-parrafos{
    font-size: 1.5rem;
    letter-spacing: 0.8px;
    word-spacing: 1px;
    line-height: 30px;
    margin: 8px 0; 
}








/* *****************************
clases para el menu de lado izquierdo
* ***********************************/
.remove-aside-left{
    display: none;
}

.add-container-page-main{
    display: grid;
    /* width: 100vw; */
    
    grid-template-columns: 95vw;
    grid-template-rows: auto; 
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background: var(--backgroun-main);
    margin-left: auto;
    margin-right: auto
}

.add-container-main{
    width: 95vw;
    margin-top: 60px;
    grid-column: 1/2;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}



/************************************/

/* div li{
    background-color: blue;
} */


.container-footer-main{
    
    display: flex;
    justify-content: space-around;
    color: var(--color-letter);
    background:var(--article-main-2);
    /* border: 1px solid gray */;
    padding: 40px;
    margin: 10px;
    

}

#modal1{
    width: 80%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    
}

.image-{
    text-align: center;
    margin-right: 0;
}

